.unfollowed {
    margin-right: 20px;
    padding: 10px;
    border-radius: 5px;
    background-color: #fff;
    text-align: center;
    width: 100px;
    margin-bottom: 20px;

    p {
        font-weight: 500;
    }

    button {
        text-transform: uppercase;
        font-size: 12px;
        margin: 10px auto 0 auto;
    }
}